<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <h1>Pokedex Show</h1>
    <a href="/pokemon">Back to Pokedex</a>
</body>
    <div class="container">
        <h3><%= data.name %></h3>
        Type:
        <div>
                <ul><%= data.type %></ul>        
        </div>
        Stats:
        <div>
            <ul>HP: <%= data.stats.hp %></ul>
            <ul>Attack: <%= data.stats.attack %></ul>    
            <ul>Defense: <%= data.stats.defense %></ul>  
        </div>
        <br><img src="<%= data.img %>" alt="Avatar" class="avatar"></br>
   <%- include("./partials/footer.ejs") %>
</body>
</html> 